# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Generated images / drawings
*.png
*.jpg
*.jpeg

# Environment variables
.env